/* General structure */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

/* Header Section */ 
header {
    background-color: #337357;
    height: 12%;
}

.logo-div p{
    color: #f9faf8;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo-img{
    width: 40px;
}

.header-container-div {
    width: 80%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}

.header-links-divs{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px
}

/* class for text in the header links */ 
.header-link-a {
    color: #e5e7eb;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

/*Second section of the page, intro text and image */ 
.intro-container {
    width: 100%;
    height: 45%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(51, 115, 87);
}

.intro-pic {
    width: 300px;
    
}

.rigth-intro{
    width: 40%;
    padding: auto;
   
}

.left-intro {
    width: 40%;
    padding: auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-text-intro{
    color: #e4e3d3;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 34px;
}

.p-text-intro{
    color: #e4e3d3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-style: italic;
}

.intro-button{
    width: 35%;
    color: #e4e3d3;
    background-color: #337357;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    border: solid 1px black;
    font-weight: 600;
    
}

/*Section 2 Squares and Information */

.section2-infosquares{
    height: 50%;
    width: 100%;
    padding: 15px;
    background-color: #e4e3d3;
}

.paragraph-div{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.squarecontainer-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.square-div {
    display: flex;
    padding: 10px;
    width: 20%;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-square{
    width: 160px;
    
}

.square-a{
    text-decoration: none;
    color: black;
    
}

.square-a:hover{
    color: red;
}

/*Quote section */ 

.quote-section {
    height: 40%;
    background-color: #ae0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.p-quote{
    color: #e5e7eb;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h3-quote{
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Section with the box and button */ 

.box-div-section{
    height: 40%;
    background-color:#e4e3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divbox-container{
    display: flex;
    border: solid black 1px;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    align-items: center;
    padding: 10px;
    background-color: #ffc95b;
}

.text-divbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.h3-divbox{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    
}

.p-divbox{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.box-button{
    height: 25%;
    
}

.a-divbox{
    text-decoration: none;
    color: gray;
}

.box-button:hover{
    background-color: lightblue;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #337357;
    height: 5%;
}

.p-footer{
    color: #e4e3d3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}